<p>
  <strong>
    <%= Customer.find(comment.customer_id).first_name %> <%= Customer.find(comment.customer_id).last_name %>:
  </strong>
  <%= comment.text %>
  <% if session[:customer_id].to_i == comment.customer_id.to_i %>
    <%= link_to 'Delete', [comment.review, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
